<app-header title="Shop"></app-header>
<mat-grid-list cols="2" rowHeight="300px" *ngIf="product != null">
    <mat-grid-tile>
        <mat-card >
            <mat-card-content> 
                <img mat-card-image src="../../assets/images/{{product.image }}" alt="Photo of {{ product.name }}">
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
            <mat-grid-tile-header color="primary"> {{ product.name }} </mat-grid-tile-header>
            {{ product.description }}
    </mat-grid-tile>
    <mat-grid-tile>
        
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-raised-button  color="accent">Add to Wish List</button>
        <button mat-raised-button  color="primary">Add to Cart</button>
    </mat-grid-tile>
</mat-grid-list>