.login-card {
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    padding: 25%, 50%;
}

.login-tabs {
    padding: 25%, 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

.mat-form-field {
    width: 400px !important;
}
