<app-header title="About Us"></app-header>
<mat-card>
    <mat-card-title> About Us </mat-card-title>
    <mat-card-content>
            Never Throttled was founded in 2018 with one goal in mind, people should have as much data as they need! The internet is such an important tool, we shouldn’t have to wait around hours for a video to buffer! We have now helped thousands of people who often have no other alternative for fast internet.
            <br/>
            A lot of our customers live in rural areas and their only other hopes are very slow DSL or slightly faster satellite internet. They are ecstatic when they receive and test out our service. They’ve never been able to stream full 1080p HD shows and movies. We are so happy to be able to help them and their kids gain access to a whole new world of entertainment, productivity, and learning.
            <br/>
            If you’re interested in fast home internet with no setup fees, contracts, overages, and most of all no throttling, give us a try!
    </mat-card-content>
</mat-card>
